<app-main-header></app-main-header>


<!-- !PAGE CONTENT! -->
<div class="w3-main">

    <!-- Push down content on small screens -->
    <div class="w3-hide-large"></div>

    <!-- Photo grid -->
    <div class="w3-row">
        <div class="w3-third">
            <img src="https://www.w3schools.com/w3images/natureboy.jpg" style="width:100%"
                alt="A boy surrounded by beautiful nature">
            <img src="https://www.w3schools.com/w3images/girl_mountain.jpg" style="width:100%"
                alt="What a beautiful scenery this sunset">
            <img src="https://www.w3schools.com/w3images/girl.jpg" style="width:100%"
                alt="The Beach. Me. Alone. Beautiful">
        </div>

        <div class="w3-third">
            <img src="https://www.w3schools.com/w3images/boy.jpg" style="width:100%"
                alt="Quiet day at the beach. Cold, but beautiful">
            <img src="https://www.w3schools.com/w3images/man_bench.jpg" style="width:100%"
                alt="Waiting for the bus in the desert">
            <img src="https://www.w3schools.com/w3images/natureboy.jpg" style="width:100%"
                alt="Nature again.. At its finest!">
        </div>

        <div class="w3-third">
            <img src="https://www.w3schools.com/w3images/girl.jpg" style="width:100%" alt="Canoeing again">
            <img src="https://www.w3schools.com/w3images/girl_train.jpg" style="width:100%"
                alt="A girl, and a train passing">
            <img src="https://www.w3schools.com/w3images/closegirl.jpg" style="width:100%" alt="What a beautiful day!">
        </div>
    </div>



    <!-- End page content -->
</div>